*{margin: 0;padding: 0;}
li{list-style: none;}
.mt{margin-top: 15bx;}
.mb{margin-bottom: 15bx;}
.ml{margin-left: 15bx;}
.mr{margin-right: 15bx;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{
    content: "";
    height: 0;
    display: block;
    clear: both; 
}